.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.searchContainer {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 350px;
  height: 40px;
  border-radius: 15px;
  font-size: large;
  padding: 5px;
}

.voiceSearchIcon {
  color: #2c5f8d;
  border-style: solid;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  margin-right: 10px;
  border-color: black;
  border-width: 2px;
  padding: 3px;
}

.voiceSearchIcon:hover {
  background-color: rgb(0, 0, 0);
  color: #e9e9e9;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  margin-left: 350px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.searchIconHome {
  position: absolute;
  margin-left: 310px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.infocardContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.infoIcon {
  width: 150px;
  height: 150px;
  color: #2c5f8d;
}

.postsPageMainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.postContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 250px;
  height: 250px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
}

.postContainer:hover {
  box-shadow: 4px 4px 5px rgb(39, 62, 110);
  cursor: pointer;
}

.postTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  margin: auto;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

.postImg {
  width: 35px;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: auto;
}

.postUsername {
  width: 100%;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.postFooter {
  display: flex;
  height: 50px;
  margin: auto;
  text-align: center;
}

.postFooterShowComments {
  margin-left: 12px;
  font-size: small;
  cursor: pointer;
  overflow: hidden;
}

.postFooterTag {
  font-size: small;
  cursor: pointer;
  overflow: hidden;
}

.loginContainer {
  margin: auto;
  width: 100%;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: 300px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  padding-top: 10px;
}

.loginInput {
  margin: auto;
  margin-bottom: 5px;
  width: 50%;
  height: 20px;
  border-radius: 10px;
  padding: 5px;
  border-width: 1px;
}

.loginButton {
  margin: auto;
  width: 50%;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.loginForgot {
  margin: auto;
  margin-top: -3px;
  font-size: small;
  text-decoration: none;
  color: black;
}

.registerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.registerFormContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: 420px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  padding-top: 10px;
}

.registerForgot {
  margin: auto;
  margin-top: -3px;
  font-size: small;
  text-decoration: none;
  color: black;
}

.contactMessage {
  margin: auto;
  margin-bottom: 5px;
  border-radius: 15px;
  padding: 10px;
  height: 250px;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
  height: 100%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  padding-top: 10px;
}

.dashboardMainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 160px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashboardContainer:hover {
  box-shadow: 4px 4px 5px #273e6e;
}

.dashboardItemTop {
  display: flex;
}

.dashboardIcon {
  width: 80px;
  height: 80px;
}

.dashboardText {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  text-decoration-style: none;
}

.tagsContainer {
  display: flex;
  font-size: smaller;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.tagButton {
  display: flex;
  margin: 2px;
  cursor: pointer;
  width: 100px;
  height: 45px;
  background: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.tagButton:hover {
  background-color: rgb(39, 62, 110);
  color: white;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 55px;
  width: 450px;
  height: 200px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  padding-top: 10px;
}

.detailedPostContainer {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 480px;
  width: 1100px;
  border-radius: 20px;
  margin: auto;
  margin: 10px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
}

.detailedPostTop {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px;
  width: 100%;
  height: 100%;
  justify-items: center;
  justify-content: center;
}

.detailedPostUsername {
  align-self: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.detailedPostMid {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  word-break: break-all;
}

.detailedPostFooter {
  display: flex;
  width: 100%;
  height: 30%;
  text-align: center;
  justify-content: center;
}

.detailedPostImg {
  width: 60px;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 900px;
  height: 200px;
  border-radius: 20px;
  margin: auto;
  margin: 10px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
}

.commentTop {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px;
  width: 98.9%;
  justify-items: center;
  justify-content: center;
  background-color: grey;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.commentUsername {
  align-self: center;
  justify-content: center;
  cursor: pointer;
  margin: auto;
}

.commentMid {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.commentFooter {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.adminControlIcon:hover {
  background-color: darkgray;
}

.generalContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 2px 3px 5px rgb(66, 66, 66);
  justify-content: center;
}

.generalContainerDashboard {
  padding: 20px;
  box-shadow: 2px 3px 5px #273e6e;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
  justify-content: center;
}

@media (max-width: 1370px) {
  .generalContainerDashboard {
    flex-wrap: wrap;
  }
}
