.navContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  height: 60px;
  margin-top: -8px;
}

.logoContainer {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 150px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.othersContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.btnHome {
  display: flex;
  margin: auto;
  width: 80px;
  height: 35px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 20px;
  text-decoration-line: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.btnHome:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btnAbout {
  margin: auto;
  width: 80px;
  height: 35px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 20px;
  background-color: white;
}

.btnAbout:hover {
  background-color: rgb(0, 0, 0);
}

.btnLogin {
  display: flex;
  margin: auto;
  width: 80px;
  height: 35px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 20px;
  background-color: #2c5f8d;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration: none;
}

.btnLogin:hover {
  background-color: rgb(0, 0, 0);
}

.btnRegister {
  display: flex;
  margin: auto;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: #2c5f8d;
  color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration: none;
  width: 150px;
  height: 35px;
  text-align: center;
}

.btnRegister:hover {
  background-color: rgb(0, 0, 0);
}

.othersdiv1 {
  display: flex;
  width: 100%;
  margin: 10px;
}

.othersdiv2 {
  display: flex;
  width: 100%;
  margin: 10px;
}

@media (width <= 1000px) {
  .buttonContainer {
    visibility: hidden;
    width: 1%;
  }
}
